# Large Binaries & APKs
*.apk
*.apk.idsig
*.apk.qsig
MatrixIDE*

# Internal IDE State & Databases
.matrix_ide/
.gemini/
.npm/
.cache/
.cargo/
.config/
.ssh/
.termux/
**/__pycache__/
*.db
*.db-journal
*.db-wal
logfile
test_stderr.txt
test_stdout.txt

# Substrate Specifics
llama.cpp/
storage/
go/
~/

# Local Environment
.env
bash_lora_src/
agy-src/
genetic_flow/models/

# Personal configs
.bash_history
.bashrc
oauth_creds.json
daemon.log.old
